/* src/app/components/RoomCategorySection.css */

.room-category-section {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  .open {
    background-color: green;
    color: white;
  }
  
  .close {
    background-color: red;
    color: white;
  }
  
  /* RoomCategorySection.css */

  .table-container {
    overflow-x: auto;
  }
  
  .table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  
  .header-row,
  .row {
    display: table-row;
  }
  
  .header-cell,
  .cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;

  }
  
  .header-cell {
    font-weight: bold;
    text-align: center;
  }
  
  .cell.room-name {
    font-weight: bold;
   
  }

  
  .cell.title {
    font-weight: bold;
    text-align: right; /* Align titles to the right */
  }
  
.text_color{
  color: blueviolet;
}

.name_width{
  width: 5px;
}