/* src/app/components/RoomCategorySection.css */

.room-category-section {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  .open {
    background-color: green;
    color: white;
  }
  
  .close {
    background-color: red;
    color: white;
  }
  
  /* RoomCategorySection.css */

  .table-container {
    overflow-x: hidden;
    cursor: grab;
    position: relative;
    margin-bottom: 20px;
  }
  
  .table-container:active {
    cursor: grabbing;
  }
  
  .table {
    display: table;
    width: max-content;
    border-collapse: collapse;
  }
  
  .header-row,
  .row {
    display: table-row;
  }
  
  .header-cell,
  .cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .header-cell {
    font-weight: bold;
    text-align: center;
  }
  
  .cell.room-name {
    font-weight: bold;
  }
  
  .cell.title {
    font-weight: bold;
    text-align: left;
  }
  
  .sticky {
    position: sticky;
    left: 0;
    background: white;
    z-index: 10;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
  }
  
  .header-cell:not(:first-child),
  .cell:not(:first-child) {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
  }
  
  .date_row_color {
    color: blue;
    font-weight: 700;
    background-color: cornflowerblue;
  }
  
  .room_row_color {
    background-color: cornflowerblue;
    font-size: 19px;
  }
  
  .row_title {
    background-color: darkseagreen;
    font-size: 17px;
  }
  