/* src/app/components/RoomCategorySection.css */

.room-category-section {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  .open {
    background-color: green;
    color: white;
  }
  
  .close {
    background-color: red;
    color: white;
  }
  
  /* RoomCategorySection.css */

.table-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px; /* Adjust margin as needed */
}

.table {
  display: table;
  width: auto;
  border-collapse: collapse;
}

.header-row {
  display: table-row;
  background-color: #f2f2f2;
}

.header-cell, .cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ddd;
  min-width: 150px; /* Adjust as needed */
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}
